package {{apiPackage}};

import org.springframework.http.HttpStatus;

{{>generatedAnnotation}}
public class ApiException extends RuntimeException {
    private final HttpStatus httpStatus;
    private final String errorCode;

    public ApiException(ErrorResponse errorResponse, Object ... args) {
        super(errorResponse.getText(args));
        this.httpStatus = errorResponse.getHttpStatus();
        this.errorCode = errorResponse.getCode();
    }

    public HttpStatus getHttpStatus() {
        return httpStatus;
    }

    public String getErrorCode() {
        return errorCode;
    }
}
